# Data processing
duckdb==1.5.5
numpy==2.2.5
pandas==2.3.3

# Visualization
matplotlib==3.10.9
plotly==6.9.0
seaborn

# Machine learning
scikit-learn==1.7.2

# Notebook environment
ipykernel
jupyterlab

# Dashboard
streamlit